#center {
    height:100%;
    width: 60%;
    border: 2px solid yellow;
    /* background-image: url(https://img.freepik.com/premium-photo/car-tire-fire-with-smoke-coming-from-it_875722-7800.jpg?w=900) */
}